extends layout.pug

block extralink
  link(rel="stylesheet" href="/style.css")
  
block extrascript
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")

block main
  div.login-page
    if errors
      for error, i in errors
        div.alert.alert-danger #{error.msg}
    if successes
      for success, i in successes
        div.alert.alert-success #{success.msg}
  h1 Campaign configuration
  h5 Candidates
  p Add the list of candidates (including your own candidate) here. This will allow pollwatchers to add the votes at their location for each candidate after polls close, and for you to 
    a(href="/electionresults") see the results.
  p Enter all candidate names. Separate names with a comma, e.g.:
  p George Washington, Thomas Jefferson, John Adams
  form(action="/addopponents" method="POST" onsubmit="return confirm('Are you sure you want to update your campaign? This will override all of your current candidate names and vote totals within this application (only relevant once voting has already started).')")
    div.form-row
      div.form-group.col-10
        input#opponents.form-control(name="opponents" type="text" placeholder="Enter candidate names")
    button.btn.btn-success(type="submit") Enter candidates
  
  h5 Number of precincts
  p When you registered, you entered the total number of precincts in your ward. If you made a mistake, update the number below.
  p Update the TOTAL number of precincts in your ward (e.g.: 40)
  form(action="/changeprecincts" method="POST")
    div.form-group
      div.form-row
        div.form-group.col-2
          input#precincts.form-control(name="precincts" type="text" placeholder="Number")
      button.btn.btn-success(type="submit") Change number of precincts
      
  h5 Download voter data
  p Download your list so you can then upload the updated voter data to Votebuilder.
  form(action="/export" method="POST")
    button.btn.btn-success(type="submit") Download

  h1 User Configureation
  p To change your password, click the button below. You will receive an email with a link to change your password.
  a(href="/requestreset" target="_blank")
    button.btn.btn-primary Request password reset
  h5 Danger Zone: Delete account
  form(action="/deleteaccount" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This can not be undone. All campaign information will be lost.')")
    button.btn.btn-danger Delete account