extends layout.pug

block extralink
  link(rel="stylesheet" href="/style.css")
  
block extrascript
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
  
block main
  div.login-page
    != messages('messages', local)
    if errors
      for error, i in errors
        div.alert.alert-danger #{error.msg}
    if successes
      for success, i in successes
        div.alert.alert-success #{success.msg}
  h1 Opponents
  p Add the list of your opponents here to increase the usability of your app.
  p When you add your opponents, your pollwatchers can report voting totals at the end of the day right through the app and you can see them directly on your admin panel
  form(action="/addopponents" method="POST")
    div.row
      div.col
        label(for="opponents") Opponent*
        small#opponenthelp.form-text.text-muted Enter all of your opponent names, first and last. Separate opponents with a comma (Dwight D. Eisenhower, John F. Kennedy, Woodrow Wilson)
        input#opponents.form-control(name="opponents" type="text" placeholder="Enter opponent names")
    button.btn.btn-primary(type="submit") Submit
    
  h1 Precincts
  p Update the number of precincts in your ward
  form(action="/changeprecincts" method="POST")
    div.row
      div.col
        label(for="precincts") Number of Precincts*
        input#precincts.form-control(name="precincts" type="text" placeholder="Enter number of precincts in your ward")
    button.btn.btn-primary(type="submit") Submit