extends layout.pug

block extralink
  link(href="dashboard.css" rel="stylesheet")
  
block sidebar
  div.container-fluid
    div.row
      nav.col-2.d-none.d-md-block.bg-light.sidebar
        div.sidebar-sticky
          ul.nav.flex-column
            li.nav-item
              a.nav-link.active(href="#")
                span(data-feather="home") Dashboard
                  span.sr-only (current)
            li.nav-item
              a.nav-link(href="#")
                span(data-feather="file") Orders
            li.nav-item
              a.nav-link(href="#")
                span(data-feather="shopping-cart") Products
            li.nav-item
              a.nav-link(href="#")
                span(data-feather="users") Customers
            li.nav-item
              a.nav-link(href="#")
                span(data-feather="bar-chart-2") Reports
            li.nav-item
              a.nav-link(href="#")
                span(data-feather="layers") Integrations

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
