extends layout.pug

block extralink
  link(rel="stylesheet" href="/style.css")
  
block extrascript
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
  script(src="/client.js" defer)
  
block main
  h1 Precinct Voters
  p Number of your supporters who have voted and not voted as of #{date}
  div.row.font-weight-bold
    div.col-4 Precinct
    div.col-4 Vote totals
    div.col-4 Date/Time
  hr
  each item, i in arr
    div.row
      div.col-4=item.precinct
      div.col-4=item.num
      div.col-4=item.date
    hr